<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyplayer.doc.db.framework.db.mapper.base.BaseMapper">

	<resultMap id="TableColumnDescDtoMap" type="com.zyplayer.doc.db.framework.db.dto.TableColumnDescDto" >
		<result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="ISIDENITY" property="isidenity" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="NULLABLE" property="nullable" jdbcType="VARCHAR" />
		<result column="LENGTH" property="length" jdbcType="VARCHAR" />
		<result column="ISPRAMARY" property="ispramary" jdbcType="VARCHAR" />
		<result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="QueryTableColumnDescDtoMap" type="com.zyplayer.doc.db.framework.db.dto.QueryTableColumnDescDto" >
		<result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
		<result column="COLUMN_NAME" property="columnName" jdbcType="VARCHAR" />
		<result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="TableStatusDtoMap" type="com.zyplayer.doc.db.controller.vo.TableStatusVo">
		<result column="Name" property="name"/>
		<result column="Engine" property="engine"/>
		<result column="Version" property="version"/>
		<result column="Row_format" property="rowFormat"/>
		<result column="Rows" property="rows"/>
		<result column="Avg_row_length" property="avgRowLength"/>
		<result column="Data_length" property="dataLength"/>
		<result column="Max_data_length" property="maxDataLength"/>
		<result column="Index_length" property="indexLength"/>
		<result column="Data_free" property="dataFree"/>
		<result column="Auto_increment" property="autoIncrement"/>
		<result column="Create_time" property="createTime"/>
		<result column="Update_time" property="updateTime"/>
		<result column="Check_time" property="checkTime"/>
		<result column="Collation" property="collation"/>
		<result column="Checksum" property="checksum"/>
		<result column="Create_options" property="createOptions"/>
		<result column="Comment" property="comment"/>
	</resultMap>

	<select id="getDatabaseList" resultType="com.zyplayer.doc.db.framework.db.dto.DatabaseInfoDto">
		select TABLE_SCHEMA dbName
		from `information_schema`.tables
		<!--排除系统库-->
		where TABLE_SCHEMA != 'information_schema'
		group by TABLE_SCHEMA
	</select>

	<select id="getTableDdl" resultType="java.util.Map">
		show create table `${dbName}`.${tableName}
	</select>

	<select id="getTableList" resultType="com.zyplayer.doc.db.framework.db.dto.TableInfoDto">
		select table_schema dbName,table_name tableName, table_comment as tableComment
		from `information_schema`.tables
		<if test="dbName != null">where table_schema=#{dbName}</if>
	</select>

	<select id="getTableColumnList" resultMap="TableColumnDescDtoMap">
		SELECT table_name as TABLE_NAME,COLUMN_NAME NAME,column_comment DESCRIPTION,column_type TYPE,if(is_nullable='YES','允许','不允许') NULLABLE
		FROM `INFORMATION_SCHEMA`.Columns
		WHERE table_schema=#{dbName}
		<if test="tableName != null">and table_name=#{tableName}</if>
		ORDER BY ordinal_position
	</select>

	<select id="getTableStatus" resultMap="TableStatusDtoMap">
		show table status from `${dbName}` like #{tableName}
	</select>

	<select id="getTableColumnDescList" resultMap="TableColumnDescDtoMap">
		select 1
	</select>

	<select id="getTableAndColumnBySearch" resultMap="QueryTableColumnDescDtoMap">
		SELECT TABLE_NAME, COLUMN_NAME, column_comment DESCRIPTION
		FROM `INFORMATION_SCHEMA`.Columns
		WHERE table_schema=#{dbName} AND (COLUMN_NAME like #{searchText} or column_comment like #{searchText})
	</select>

	<select id="getTableDescList" resultType="com.zyplayer.doc.db.framework.db.dto.TableDescDto">
		select table_name tableName, table_comment as description
		from `information_schema`.tables
		<where>
			<if test="dbName != null">and table_schema=#{dbName}</if>
			<if test="tableName != null">and table_name=#{tableName}</if>
		</where>
	</select>

	<insert id="updateTableDesc">
		alter table `${dbName}`.${tableName} comment #{newDesc}
	</insert>

	<insert id="updateTableColumnDesc">
		alter table `${dbName}`.${tableName} modify column ${columnName}
		${columnInfo.columnType} ${columnInfo.isNullable} ${columnInfo.columnDefault} ${columnInfo.extra}
		comment #{newDesc}
	</insert>

</mapper>
